/* css module based on MP tips */
/* pill navigation based on https://www.w3schools.com/howto/howto_css_pill_nav.asp */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

.pill-nav a {
  display: inline-block;
  background-color: rgb(49, 49, 49);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  border-radius: 5px;
}

.pill-nav a:hover {
  background-color: navy;
  color: white;
}

.pill-nav a:global(.active) {
  background-color: blue;
  color: white;
}